<div class="list">
    <label class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name">
    </label>
    <label class = "item item-input item-floating-label">
        <span class="input-lable">Last Name</span>
        <input type="text" placeholder="Last Name">
    </label>  
    
    <label class = "item item-input item-floating-label">
        <span class="input-lable">Email</span>
        <input type="text" placeholder="Email">
      
    <label class = "item item-input item-floating-label">
        <span class="input-lable">Phone Number</span>
        <input type="number" placeholder="Phone Number">
    </label>  
    </label>