<script src="js/app/app.js"></script>

<!--        <script src="js/app/essentials.js"></script> 
        <script src="js/app/material.js"></script> 
        <script src="js/app/layout.js"></script> 
        <script src="js/app/sidebar.js"></script> 
        <script src="js/app/media.js"></script> 
        <script src="js/app/messages.js"></script> 
        <script src="js/app/maps.js"></script> 
        <script src="js/app/charts.js"></script> -->

<footer class="footer">
    <strong>Learning</strong> v1.1.0 &copy; Copyright 2015
</footer>