



ul li {
    display:inline-flex;
	
}


h5, .h5 {
    font-size: 14px;
    margin-left: 37px;
}
 .write{
	width:225px;
	text-align: center;

}
.social_box{
	width: 185px;
    margin: 2px 2px 2px 19px;
    align-items: center;
	
}
.un{
	border-radius: 2px;
	margin-top: 10px;
    margin-bottom: 20px;
    width:229px;
	height: 40px;
	color: white;
	font-family: 'Nunito', sans-serif;
	
}
