<ion-view view-title="Login" name="login-view">
			<div id="particles-js">
</div>
  	<ion-content >	
<div class="container"  controller='LoginCtrl'>
	
	<div id="login-box">
		<div class="logo">
			<img src="photo/logo.png" class="img img-responsive img-circle center-block"/>
			<h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
		</div><!-- /.logo -->

		<div class="controls">
     
     <form action="">       
		   	<div class="un">
 		<input type="text" name="username" placeholder="Username" ng-model="data.username" class="form-control" />
		   	</div>
			   
			<input type="password" name="password" placeholder="Password" ng-model="data.password" class="form-control" />
			   
				<button  class="btn button btn-default btn-block btn-custom" ng-click="login()">Login</button>
			</form>	
     
		<button type="button" class="button btn btn-default btn-block btn-custom">Forgot Password</button>
            
          

	
        </div><!-- /.controls -->
		
		<div class="write" align="center">
               <h5>Sign in with<h/5> 
			   <br/>
		</div>
	
			<div class="social_box" align="center" >  <ul id="lpro">
    <li><a href="https://www.facebook.com/" target="_blank"><div class="fbicon"><img id="social_me" src="photo/Fb+.png" alt="Facebook"></div></a>
    &nbsp;</li>
    <li><a href="https://plus.google.com/" target="_blank"><div class="linkedin_amandasopkin"><img id="social_me" src="photo/Go+.png" alt="Linked In"></div></a>
    &nbsp;</li>
    <li><a href="https://www.linkedin.com/" target="_blank"><div class="fbicon"><img id="social_me" src="photo/qq11.jpg" alt="Google Plus"></div></a>
    &nbsp;</li>
		
</ul>
</div>

	</div><!-- /#login-box -->

</div><!-- /.container -->

  </ion-content>

</ion-view>

